<div class="col-lg-4 col-md-6 mb-2 w-100" style="border-radius: 15px !important; border: 5px solid #999;">
    <div class="card">

        <a [routerLink]="['/single-product', productItem.id]">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img [src]="productItem.thumbnail" class="w-100" />
                <a href="#!">
                    <div class="mask">
                        <div class="d-flex justify-content-start align-items-end h-100">
                            <h5>

                                @switch(productItem.availabilityStatus){
                                @case("Out Stock"){
                                <span class="badge bg-danger ms-2">{{productItem.availabilityStatus}}</span>
                                }
                                @case("In Stock"){
                                <span class="badge bg-success ms-2">{{productItem.availabilityStatus}}</span>
                                }
                                }

                            </h5>
                        </div>
                    </div>
                    <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                </a>
            </div>

            <div class="card-body">
                <a href="" class="text-reset">
                    <h5 class="card-title mb-3">{{productItem.title}}</h5>
                </a>
                <a href="" class="text-reset">
                    <p>{{productItem.category}}</p>
                </a>
                <h6 class="mb-3">{{productItem.price}}</h6>

            </div>
        </a>

        <button class="btn btn-dark w-75 align-content-center justify-content-center align-self-center mb-3"
            (click)="addToCartFromHome(productItem)"> Add to
            cart</button>
    </div>
</div>